.buttonContainer {
  display: flex;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 726px) {
  .buttonContainer {
    font-size: 17px;
  }
}
