.buttonContainer {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 600;
  width: fit-content;
  min-width: 124px;
  border-radius: 8px;
  color: var(--white);
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  background-color: var(--black);
  font-family: var(--primary-font);
}

.buttonContainer:hover:not(:disabled) {
  transform: scale(1.1);
}

.buttonContainer:active:not(:disabled) {
  transform: scale(1);
}

@media (max-width: 726px) {
  .buttonContainer {
    font-size: 17px;
  }
}
