.fadeInOut {
  opacity: 0;
  transform: translateY(-100%);
  animation: fadeInOut 500ms ease-in-out forwards;
  color: var(--dark);
  margin-top: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
