.fadeInOut {
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInOut 4s ease-in-out forwards;
  color: var(--gray-light);
  margin-top: 40px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
