.outputContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.output {
  width: 450px;
  height: 93px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--gray);
}

.outputContainer h3 {
  margin: 20px 0;
  color: var(--gray);
}

.outputContainer h4 {
  color: var(--gray-light);
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 50px;
}

.summary h2 {
  text-align: center;
  margin: 20px;
}

.summary ul {
  list-style: inside;
}

.summary li {
  margin-bottom: 5px;
}
