.outputContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.output {
  width: 450px;
  height: 93px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--gray);
}

.outputContainer h3 {
  margin: 20px 0;
  color: var(--gray);
}

.outputContainer h4 {
  color: var(--gray-light);
}

.summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}