.headerContainer {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  font-style: normal;
  font-family: "Jost";
}

.login {
  /* Login */
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: normal;
  font-family: "Jost";
}

@media (max-width: 726px) {
  .headerContainer {
    z-index: 1;
    padding: 1em;
  }

  .logo {
    font-size: 30px;
  }

  .login {
    font-size: 20px;
  }
}
