.uploadLayout {
  max-height: 100vh;
  overflow: hidden;
}

.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}

.uploadContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: var(--primary-font);
}

.uploadSide {
  width: 350px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid var(--gray-light);
  overflow: hidden; /* Hide any overflow from the line */
}

.logo {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  align-self: left;
}

.line {
  width: 80%;
  height: 1px;
  background-color: rgba(226, 226, 226, 0.719);
}

.outputContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  width: 450px;
  height: 93px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--gray);
}
