.uploadContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: var(--primary-font);
}

.uploadSide {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 2px solid var(--gray-light);
}

.summarySide {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox {
  width: 450px;
  height: 93px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--gray);
}

.logo {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}

.dropArea {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(95, 95, 95, 0.1);
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.dragging {
  border: 2px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-bg-variant);
  transform: scale(0.97);
  transition: var(--transition);
}

.line {
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: red;
  transform: translateY(-50%);
}

.historyContainer {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(95, 95, 95, 0.1);
  margin-bottom: 1rem;
  border-radius: 10px;
}

.hidden {
  display: none;
}
